.features.section {
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.features-list {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
  }
}

.features-list__item {
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) {
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features-list__meta {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-cl);

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.features-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  font-weight: 400;
  color: var(--secondary-txt-cl);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
