.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-cl);
}

.footer__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.sub-container--tablet {
  @media screen and (min-width: $tablet) {
    margin-right: 165px;
    max-width: 323px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;

  color: var(--main-white-cl);

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 499px;
    margin-left: 115px;
  }
}

.footer__sub-container {
  //   @media screen and (max-width: 1199px) {
  //     text-align: center;
  //   }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
}
