.modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;

  @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 581px;
  }

  transform: translate(-50%, -50%) scale(100%);

  background-color: var(--main-white-cl);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include transitioned($property: transform);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(110%);
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  padding: 0;

  color: var(--accent-color);

  background-color: var(--main-white-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  @include transitioned($property: fill);

  &:hover,
  &:focus {
    fill: currentColor;
  }
}

.modal__text {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
